        <div class="footer">
            <div class="container">
                <div class="div4">
                    <i class="fa fa-book fa-2x" aria-hidden="true">토이필북스</i>
                </div>
                <div class="div4">
                    <div class="footer-menu">
                        <span class="footer-menu-title">Products</span>
                        <a href="">Localization Tool</a>
                        <a href="">Translation service</a>
                    </div>
                </div>
                <div class="div4">
                    <div class="footer-menu">
                        <span class="footer-menu-title">Features</span>
                        <a href="">Auto analyzer</a>
                        <a href="">Lorem ipsum</a>
                        <a href="">dolor sit amet</a>
                        <a href="">consectetur adipiscing elit</a>
                        <a href="">sed do eiusmod</a>
                    </div>
                </div>
                <div class="div4">
                    <div class="footer-menu">
                        <span class="footer-menu-title">Company</span>
                        <a href="">About</a>
                        <a href="">Customers</a>
                        <a href="">Career</a>
                        <a href="">Press Resources</a>
                        <a href="">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/lib/modernizr.custom.js"></script>

		<script src="/js/lib/jquerypp.custom.js"></script>
		<script src="/js/lib/jquery.bookblock.js"></script>
        
        <script src="/js/<%= filename %>.js"></script>
    </body>
    
</html>