<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>토이필북스</title>
		<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/toy.css">
        
    </head>

    <body>
		<div class="header">
			<div class="container">
				<div class="header-left">
					<a href="/">
						<img src="/img/logo.png" class="header-left-logo" />
					</a>
				</div>
				<div class="header-right">
					<span class="header-right-menu">
						<a href="" class="header-right-a">PRODUCTS</a>
						<a href="" class="header-right-a">CONTACT</a>
						<a href="" class="header-right-a">FAQ</a>
					</span>
					<button type="button" class="buttons-full" style="background-color: transparent; color: #231f20;">LOGIN</button><span style="color: #FFFFFF">|</span>
					<form class="signup" style="display: inline-block;">
						<input type="text" name="email" placeholder="Enter your email" style="margin: 0px;"/>
						<button type="submit" class="buttons-full" style="margin: 0px;">Get Started</button>
					</form>
				</div>
			</div>
		</div>