<%- include header %>
	<div class="main">
		<span class="main-title">세상에 공유하는 나의 취미</span>
		<button class="main-navigate-button">나만의 책 올리기</button>
		<button class="main-navigate-button">다른 책 구경하기</button>
	</div>

	


<%- include footer %>
