<%- include header %>
	<div class="sign">
		<div class="sign-top">
			<div class="container">
				<img class="sign-top-logo" src="/img/logo.png" alt="토이필북스" />
				
			</div>
		</div>
		<div class="sign-content">
			<div class="container">
				<div class="sign-content-inside">
					<div class="sign-content-inside-html">
						<a class="sign-top-goback" onclick="history.back();">
							<i class="fa fa-angle-left fa-2x"></i>
						</a>
						<form>
							<span class="sign-title">Sign Up</span>
							<input class="sign-input-text" type="text" placeholder="User name" required/>
							<input class="sign-input-text" type="email" placeholder="E-mail" required/>
							<input class="sign-input-text" type="password" placeholder="Password" required/>
							<input class="sign-input-text" type="password" placeholder="Confirm Password" required/>
							<!--<input class="sign-input-check" type="checkbox" id="keep"/><label class="sign-label-check" for="keep">Keep me signed in<div style=""></div></label>-->
							<button class="sign-button" type="submit">Submit</button>
							<span class="sign-context">By creating an account you agree to our <a class="sign-a" href="/docs/policy">Terms and Conditions</a> and our <a class="sign-a" href="/docs/privacy">Privacy Policy</a></span>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="sign-bottom">
		</div>

	</div>
<%- include footer %>
