<%- include header %>
	<div class="view">
		<div class="view-logo" onclick="history.back();">
			<span class="view-logo-menu">
				<i class="fa fa-angle-left" aria-hidden="true"></i>
			</span>
			토이필북스
			<!--<img src="/img/logo.png" />-->
		</div>
		<div class="view-menu">
			<span class="view-menu-show">
				&lt;
			</span>
			<div class="view-menu-detail">
				<div class="view-menu-detail-info">
					<img class="view-menu-detail-info-thumbnail" />
					<br />
					<span class="view-menu-detail-info-bookname">
						책이름
					</span>
					<span class="view-menu-detail-info-authorname">
						김작가
					</span>
				</div>
				<div class="view-menu-detail-buy">
					<button class="view-menu-detail-buy-button">eBook 구매</button>
					<button class="view-menu-detail-buy-button">서적 구매</button>
				</div>
				<!--<div class="view-menu-detail-controller">
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-fast-backward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-step-backward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-step-forward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-fast-forward" aria-hidden="true"></i>
					</button>
				</div>-->
			</div>
		</div>
		<div class="bb-custom-wrapper">
				
			<div id="bb-bookblock" class="bb-bookblock">
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book/page-1.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book/page-2.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>

				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book/page-3.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book/page-4.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book/page-5.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book/page-6.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book/page-7.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book/page-8.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book/page-9.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book/page-10.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				
			</div>

			<nav>
				<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
				<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
				<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
				<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
			</nav>

		</div>

	</div>


<%- include footer %>
