<%- include header %>
	<div class="view">
		<div class="view-logo" onclick="history.back();">
			<span class="view-logo-menu">
				<i class="fa fa-angle-left" aria-hidden="true"></i>
			</span>
			토이필북스
			<!--<img src="/img/logo.png" />-->
		</div>
		<div class="view-menu">
			<span class="view-menu-show">
				&lt;
			</span>
			<div class="view-menu-detail">
				<div class="view-menu-detail-info">
					<img class="view-menu-detail-info-thumbnail" src="/img/book2/page (1).jpg" />
					<br />
					<span class="view-menu-detail-info-bookname">
						도쿄
					</span>
					<span class="view-menu-detail-info-authorname">
						이스안 지음
					</span>
				</div>
				<div class="view-menu-detail-buy">
					<button class="view-menu-detail-buy-button">eBook 구매</button>
					<button class="view-menu-detail-buy-button">서적 구매</button>
				</div>
				<span style="font-size: 24px; width: 100%; display: block; text-align: center; font-weight: 100; margin-top: 20px;">에디터의 추천 콘텐츠</span>
				<div class="main-sample-list">
					<div class="main-sample-list-item" style="max-width: 250px;">
						<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/1.jpg');"/>
						<span class="main-sample-list-item-title">여고생 4명이 떠나는 도쿄여행 Ep.1</span>
						<span class="main-sample-list-item-content">전민주</span>
					</div>
					<div class="main-sample-list-item" style="max-width: 250px;">
						<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/2.jpg');"/>
						<span class="main-sample-list-item-title">Tokyo 2020'ye hazır</span>
						<span class="main-sample-list-item-content">Al Jazeera Turk</span>
					</div>
					<div class="main-sample-list-item" style="max-width: 250px;">
						<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/3.jpg');"/>
						<span class="main-sample-list-item-title">도쿄 여행 첫째날 : 다이칸야마/긴자/시부야</span>
						<span class="main-sample-list-item-content">이승인</span>
					</div>
					<div class="main-sample-list-item" style="max-width: 250px;">
						<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/4.jpg');"/>
						<span class="main-sample-list-item-title">일본 도쿄 비즈니스 여행 Vlog | SSIN</span>
						<span class="main-sample-list-item-content">ssin 씬님</span>
					</div>
				</div>
				<span style="font-size: 24px; width: 100%; display: block; text-align: center; font-weight: 100;">이런 책도 있어요.</span>
				<div class="main-sample-list">
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
						<span class="main-sample-list-item-title">폰케이스 데코 작법서</span>
						<span class="main-sample-list-item-content">김성국 지음</span>
					</div>
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/2.jpg');"/>
						<span class="main-sample-list-item-title">세일러문의 비밀</span>
						<span class="main-sample-list-item-content">김한슬마로 지음</span>
					</div>
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/3.jpg');"/>
						<span class="main-sample-list-item-title">인형 소품</span>
						<span class="main-sample-list-item-content">조기상 인형사진집</span>
					</div>
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/4.jpg');"/>
						<span class="main-sample-list-item-title">일본 키덜트 여행 가이드북</span>
						<span class="main-sample-list-item-content">토이필 지음</span>
					</div>
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/5.jpg');"/>
						<span class="main-sample-list-item-title">쫄깃달콤! 젤리보고서</span>
						<span class="main-sample-list-item-content">젤리연구소 지음</span>
					</div>
					<div class="main-sample-list-item">
						<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/6.jpg');"/>
						<span class="main-sample-list-item-title">토이카 수집가의 장식장</span>
						<span class="main-sample-list-item-content">김재형 찍고 기록하다</span>
					</div>
				</div>
				<!--<div class="view-menu-detail-controller">
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-fast-backward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-step-backward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-step-forward" aria-hidden="true"></i>
					</button>
					<button class="view-menu-detail-controller-button">
						<i class="fa fa-fast-forward" aria-hidden="true"></i>
					</button>
				</div>-->
			</div>
		</div>
		<div class="bb-custom-wrapper">
				
			<div id="bb-bookblock" class="bb-bookblock">
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (1).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (2).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>

				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (3).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (4).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (5).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (6).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (7).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (8).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (9).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (10).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (11).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (12).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (13).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (14).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (15).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>					
					<div class="bb-custom-side" style="background-image:url('/img/book2/page (16).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;"></div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side" style="text-align: center;">
						<img src="/img/book2/page (1).jpg" style="border: 1px solid #d3d3d3; width: 250px; height: 375px;"/>
						<span style="font-size: 36px; width: 100%; display: block; text-align: center;">재밌으셨나요?</span>
						
						<div class="view-menu-detail-buy">
							<button class="view-menu-detail-buy-button">eBook 구매</button>
							<button class="view-menu-detail-buy-button">서적 구매</button>
						</div>

					</div>					
					<div class="bb-custom-side">
						<span style="font-size: 36px; width: 100%; display: block; text-align: center;">에디터의 추천 콘텐츠</span>
						<div class="main-sample-list">
							<div class="main-sample-list-item" style="max-width: 250px;">
								<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/1.jpg');"/>
								<span class="main-sample-list-item-title">여고생 4명이 떠나는 도쿄여행 Ep.1</span>
								<span class="main-sample-list-item-content">전민주</span>
							</div>
							<div class="main-sample-list-item" style="max-width: 250px;">
								<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/2.jpg');"/>
								<span class="main-sample-list-item-title">Tokyo 2020'ye hazır</span>
								<span class="main-sample-list-item-content">Al Jazeera Turk</span>
							</div>
							<div class="main-sample-list-item" style="max-width: 250px;">
								<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/3.jpg');"/>
								<span class="main-sample-list-item-title">도쿄 여행 첫째날 : 다이칸야마/긴자/시부야</span>
								<span class="main-sample-list-item-content">이승인</span>
							</div>
							<div class="main-sample-list-item" style="max-width: 250px;">
								<img class="main-sample-list-item-background" src="/img/332.png" style="background-image:url('/img/rec/4.jpg');"/>
								<span class="main-sample-list-item-title">일본 도쿄 비즈니스 여행 Vlog | SSIN</span>
								<span class="main-sample-list-item-content">ssin 씬님</span>
							</div>
						</div>
						<span style="font-size: 36px; width: 100%; display: block; text-align: center;">이런 책도 있어요.</span>
						<div class="main-sample-list">
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
								<span class="main-sample-list-item-title">폰케이스 데코 작법서</span>
								<span class="main-sample-list-item-content">김성국 지음</span>
							</div>
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/2.jpg');"/>
								<span class="main-sample-list-item-title">세일러문의 비밀</span>
								<span class="main-sample-list-item-content">김한슬마로 지음</span>
							</div>
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/3.jpg');"/>
								<span class="main-sample-list-item-title">인형 소품</span>
								<span class="main-sample-list-item-content">조기상 인형사진집</span>
							</div>
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/4.jpg');"/>
								<span class="main-sample-list-item-title">일본 키덜트 여행 가이드북</span>
								<span class="main-sample-list-item-content">토이필 지음</span>
							</div>
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/5.jpg');"/>
								<span class="main-sample-list-item-title">쫄깃달콤! 젤리보고서</span>
								<span class="main-sample-list-item-content">젤리연구소 지음</span>
							</div>
							<div class="main-sample-list-item">
								<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/6.jpg');"/>
								<span class="main-sample-list-item-title">토이카 수집가의 장식장</span>
								<span class="main-sample-list-item-content">김재형 찍고 기록하다</span>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<nav>
				<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
				<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
				<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
				<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
			</nav>

		</div>

	</div>


<%- include footer %>
