/*@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}*/

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'KBIZ', sans-serif;
        overflow-x: hidden; 
        
    }

    .header{
        width: 100%;
        height: 100px;
        padding: 30px 0px 10px 0px;
        position: absolute;
        left: 0px;
        top: 0px;

        z-index: 300;
        
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        /*opacity: 0.8;
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 );*/
    }

    .header .header-button-menu{
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: transparent;
        border: none;
        color: #7b7c80;
        cursor: pointer;
        margin: 5px;
    }

    .header .header-button-circle{
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: transparent;
        border: none;
        border: 1.5px solid #7b7c80;
        color: #7b7c80;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        margin: 5px;
    }

    .view{
        width: 100%;
        height: 100%;
        padding: 10px;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 500;
        background-color: #f3f3f3;
        text-align: center;
    }

    .view .view-logo{
        width: auto;
        height: auto;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 505;
        padding: 10px;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
    }

    .view .view-logo img{
        width: 150px;
        height: auto;

    }

    .view .view-menu{
        width: auto;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 508;
        opacity: 0.6;

        cursor: pointer;

        -ms-transform: translateX(100%) translateX(-50px);
        -webkit-transform: translateX(100%) translateX(-50px);
        transform: translateX(100%) translateX(-50px);

        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }

    .view .view-menu:hover{
        opacity: 0.8;
        
    }

    .view .view-menu.selected{
        opacity: 1;
        cursor: auto;

        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .view .view-menu-show{
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        position: absolute;
        top: 120px;
        left: 0px;
        text-align: center;
        background-color: #f3f3f3;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    .view .view-menu-detail{
        width: 250px;
        height: 100%;
        display: inline-block;
        background-color: #f3f3f3;
        padding: 10px;
        margin-left: 50px;
    }

    .view .view-menu-detail .view-menu-detail-info{
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .view .view-menu-detail .view-menu-detail-info .view-menu-detail-info-thumbnail{
        width: 180px;
        height: 180px;
        border: 1px solid #d3d3d3;
        
    }

    .view .view-menu-detail .view-menu-detail-info .view-menu-detail-info-bookname{
        width: 100%;
        height: auto;
        display: block;
        font-weight: 400;
        font-size: 18px;
    }
    
    .view .view-menu-detail .view-menu-detail-info .view-menu-detail-info-authorname{
        width: 100%;
        height: auto;
        display: block;
        font-weight: 100;
        font-size: 16px;
    }

    .view .view-menu-detail .view-menu-detail-buy{
        width: 100%;
        height: auto;
        display: block;
        padding: 10px;
        
    }

    .view .view-menu-detail .view-menu-detail-buy .view-menu-detail-buy-button{
        width: 100%;
        height: auto;
        padding: 10px;
        display: block;
        background: transparent;
        border: 1px solid #53B0AE;
        color: #7b7c80;
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .view .view-menu-detail .view-menu-detail-controller{
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .view .view-menu-detail .view-menu-detail-controller .view-menu-detail-controller-button{
        width: 20%;
        height: auto;

        margin: 1%;
        display: inline-block;
        
        padding: 15px;
        background-color: #f3f3f3;
        border: 1px solid #7b7c80;
    }

    .view .view-page{
        width: 48%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        border: 1px solid #d3d3d3;
        display: inline-block;
        background-color: #FFFFFF;  
    }

    .upload{
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        height: auto;
        position: relative;
        text-align: center;

    }

    .upload .upload-before{
        width: 100%;
        height: auto;

        padding: 200px 0px;

    }

    .upload .upload-title{
        display: block;
        font-weight: 400;
        font-size: 36px;
        padding-bottom: 20px;

    }

    .upload .upload-file{
        display: none;

    }

    .upload .upload-file_button{
        width: auto;
        height: auto;
        /*display: block;*/
        background-color: #FFFFFF;
        border: 1px solid #53B0AE;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .upload .upload-file_or{
        font-size: 14px;
    }
    
    .upload .upload-detail{
        width: 100%;
        height: auto;
        position: relative;

    }


    .upload .upload-detail{
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 120px;
    }
    
    .upload .upload-detail .upload-detail-thumbnail-list{
        width: 100%;
        height: auto;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .upload .upload-detail .upload-detail-thumbnail-list .upload-detail-thumbnail{
        width: 40%;
        height: auto;
        margin-right: 10px;
        max-width: 200px;
        position: relative;
        display: inline-block;
        border: 4px solid transparent;
        cursor: pointer;
    }

    .upload .upload-detail .upload-detail-thumbnail-list .upload-detail-thumbnail.selected{
        border: 4px solid #53B0AE;
    }    

    .upload .upload-detail .upload-detail-thumbnail-list .upload-detail-thumbnail .upload-detail-thumbnail-background{
        width: 100%;
        background-image: url('/img/1_9.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

    }

    .upload .upload-detail .upload-detail-subject{
        display: block;
        font-weight: 700;
        font-size: 20px;
        margin: 20px;
    }

    .upload .upload-detail .upload-detail-content{
        display: block;
        font-weight: 100;
        font-size: 18px;
        margin: 20px;
    }

    .upload .upload-detail .upload-detail-tag-list{
        width: 50;
        height: auto;

    }

    .upload .upload-detail-submit{
        width: auto;
        height: auto;
        padding: 10px 20px;
        background-color: #53B0AE;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px;
        cursor: pointer;
    }

    .upload .upload-detail .upload-detail-tag-list .upload-detail-tag{
        width: auto;
        display: inline-block;
        margin: 5px;
        padding: 5px 10px;
        font-size: 20px;
        background-color: #FFFFFF;
        border: 1px solid #53B0AE;
        border-radius: 5px;
    }

    
    .sign{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 500;
        left: 0px;
        top: 0px;
        background-color: #edeeef;
        overflow: hidden;
    }

    .sign .sign-top{
        width: 100%;
        height: 120px;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        text-align: center;
        padding: 20px 0px;
        z-index: 501;
    }

    .sign .sign-top .sign-top-logo{
        width: auto;
        height: 100%;
        /*float: center;*/
    }

    .sign .sign-top-goback{
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
        color: #53B0AE;
        /*display: block;*/
        /*padding: 10px;*/
        line-height: 40px;
        border: 2px solid #53B0AE;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        /*margin-top: 20px;*/
        position: absolute;
        padding-top: 2px;
        padding-right: 2px;
        margin-top: 2px;
    }

    /*.sign .sign-top .sign-top-close img{
        width: auto;
        height: 30px;
    }*/

    .sign .sign-content{
        width: 100%;
        height: auto;
        position: absolute;
        padding-top: 120px;
        /*padding-bottom: 80px;*/
        left: 0px;
        top: 0px;
    }

    .sign .sign-content .container{
        max-width: 480px;
        overflow: visible;
    }

    .sign .sign-content .sign-content-inside{
        width: auto;
        height: auto;
        display: block;
        background-color: #FFFFFF;
        /*border: 2px solid #7b7c80;*/
        border-radius: 10px;
        box-shadow: 1px 1px 5px #7b7c80;
        padding: 20px;
        
    }

    .sign .sign-content .sign-content-inside .sign-content-inside-html{
        width: auto;
        height: auto;
        overflow-y: auto;
        
        
    }

    .sign .sign-title{
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        font-size: 36px;
        color: #231f20;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .sign .sign-context{
        width: 100%;
        height: 100%;
        display: block;
        font-weight: 100;
        text-align: center;
    }

    .sign .sign-input-text{
        width: 100%;
        height: auto;
        padding: 10px;
        border: 1px solid #53B0AE;
        border-radius: 5px;
        margin-bottom: 20px;
        font-weight: 700;
    }


    .sign .sign-input-check{
        width: auto;
        height: auto;
        display: none;
    }
    .sign .sign-label-check{
        color: #7b7c80;
        margin-bottom: 20px;
        display: block;
        cursor: pointer;
    }

    .sign .sign-label-check div{
        width: 24px;
        height: 24px; 
        /*padding: 12px;*/
        vertical-align: middle;
        display: inline-block; 
        border: 2px solid #d3d3d3; 
        border-radius: 4px; 
        background-size: cover;
        margin: 0px 5px;
    }
    
    .sign .sign-input-combo{
        width: 100%;
        height: auto;
        padding: 10px;
        border: 1px solid #53B0AE;
        border-radius: 5px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .sign .sign-input-check:checked + .sign-label-check div{
        background-image: url('/img/check.png');
    }

    .sign .sign-button{
        width: 100%;
        height: auto;
        padding: 10px;
        border: none;
        background-color: #53B0AE;
        color: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
    }

    .sign .sign-button:disabled{
        background-color: #d3d3d3;
    }

    /* Let's get this party started */
    .sign *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    .sign *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    .sign *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        /*background: transparent; */
        background: #FFFFFF;
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .sign .sign-content .sign-content-inside .sign-content-inside-html:hover::-webkit-scrollbar-thumb{
        background: #dadce0; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    .sign *::-webkit-scrollbar-thumb:window-inactive {
        /*background: transparent;*/
        background: #FFFFFF;
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .sign .sign-bottom{
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        line-height: 80px;
        color: #7b7c80;
        text-align: center;
        font-size: 14px;
        display: block;
    }

    .sign .sign-a{
        width: auto;
        height: auto;
        color: #53B0AE;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -1px;
        text-decoration: none;
    }


    .footer{
        width: 100%;
        height: auto;
        min-height: 300px;
        background-color: #FFFFFF;
        padding: 10px 0px;
    }

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        width: auto;
        max-height: 60px;
        max-width: 100%;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }

    input[type="text"], textarea{
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 10px 20px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        font-size: 16px;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        width: auto;
        height: auto;
        border: none;
        background-color: #53B0AE;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        overflow: hidden;
        position:  relative;
    }

    pre{
        font-family: 'KBIZ', sans-serif;
        
    }
    
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 25%;

    }
}

@media screen and (max-width: 640px){
	
    .container{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 50%;

    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
